.item:hover {
    cursor: pointer;
}

.item {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
}

.item img {
    width: 100px;
    height: auto;
}